<section class="hero">
  <h1>Public recipes list</h1>
  <% if @recipes.empty? %>
    <p>No public recipes for the moment!</p>
  <% else %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe_path(recipe.id) do %>
          <div>
            <p><%= recipe.name %> by <%= recipe.user.name %></p>
          </div>
          <div>
            <p><%= recipe.description %></p>
          </div>
          <div>
            <p>Total food items: <%= recipe.recipe_foods.length %> </p>
            <p>Total price: $<%= Recipe.calculate_total_amount(recipe) %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>
</section>
