<!DOCTYPE html>
<html>
  <head>
    <title>RailsGroupProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
<script>
    document.addEventListener('click', function(event) {
      if (event.target.id === 'openRecipeModal') {
        let recipeModal = document.getElementById('recipeModal');
        if (recipeModal) {
          recipeModal.style.display = 'block';
        }
      }

      if (event.target.id === 'close-button') {
        let recipeModal = document.getElementById('recipeModal');
        if (recipeModal) {
          recipeModal.style.display = 'none';
        }
      }

      if (event.target.id === 'openInventoryModal') {
        let inventoryModal = document.getElementById('inventoryModal');
        if (inventoryModal) {
          inventoryModal.style.display = 'block';
        }
      }

      if (event.target.id === 'close-button-inventory') {
        let inventoryModal = document.getElementById('inventoryModal');
        if (inventoryModal) {
          inventoryModal.style.display = 'none';
        }
      }
    });

    document.addEventListener("turbo:load", function() {
      var addFoodLink = document.getElementById("add-food-link");
      var popupModal = document.getElementById("popup-modal");

      if (!addFoodLink || !popupModal) {
        console.error("Missing required elements");
        return;
      }

      addFoodLink.addEventListener("click", function() {
        console.log("Add Food link clicked");
        popupModal.style.display = "block";
      });

      var closeButton = popupModal.querySelector("span");
      if (closeButton) {
        closeButton.addEventListener("click", function() {
          console.log("Close button clicked");
          popupModal.style.display = "none";
        });
      } else {
        console.error("Close button not found");
      }
    });
  </script>
  </body>
</html>
