<!DOCTYPE html>
<html>
  <head>
    <title>RailsGroupProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <ul>
        <% if user_signed_in? %>
          <li>
          <%= link_to 'Recipe App', authenticated_root_path %>
          </li>

          <li>
            <%= link_to 'Foods', foods_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
